
      </main>
    </div>

    <%- include("./footer") %>
    <script src="/src/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/src/public/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io-client/dist/socket.io.min.js"></script>
    <!-- <script>
      const socket = io();
      console.log(socket);
      socket.on('mod_forecast', (count) => {
        console.log(count);
        document.querySelector('#count').innerHTML = count;
      });
    </script> -->
  </body>
</html>